apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: wonky-sprout-os
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: wonky-sprout-os
  minReplicas: 3
  maxReplicas: 100
  metrics:
    - type: Resource
      resource:
        name: cpu
        target:
          type: Utilization
          averageUtilization: 60
